@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
:root {
  --clr-primary-1: #ffe5d3;
  --clr-primary-2: #faccae;
  --clr-primary-3: #ffba8c;
  --clr-primary-4: #ffa76d;
  --clr-primary-5: #ff8f44;
  --clr-primary-6: #f58133;
  --clr-primary-7: #e47327;
  --clr-primary-8: #d6651a;
  --clr-primary-9: #ca5a10;
  --clr-primary-10: #bb4b00;
  --clr-secondary-1: #111111;
  --clr-secondary-2: #111111;
  --clr-secondary-3: #111111;
  --clr-secondary-4: #111111;
  --clr-secondary-5: #111111;
  --clr-secondary-6: #111111;
  --clr-secondary-7: #111111;
  --clr-secondary-8: #111111;
  --clr-secondary-9: #111111;
  --clr-secondary-10: #111111;
  --clr-light-1: #ffffff;
  --clr-light-2: #eeeeee;
  --clr-light-3: #dddddd;
  --clr-light-4: #cccccc;
  --clr-light-5: #bbbbbb;
  --clr-dark-1: #444444;
  --clr-dark-2: #333333;
  --clr-dark-3: #222222;
  --clr-dark-4: #111111;
  --clr-dark-5: #000000;
  --clr-grey-1: #999999;
  --clr-grey-2: #888888;
  --clr-grey-3: #777777;
  --clr-grey-4: #666666;
  --clr-grey-5: #555555;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
  color: var(--clr-dark-5);
}

/*
===============================
header part
===============================
*/
.nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: 10vh;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}
.nav-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  z-index: 1;
  background-color: var(--clr-primary-2);
  opacity: 0.8;
  filter: blur(12px);
}
.nav-bg:hover {
  filter: blur(0);
}
.nav-logo {
  margin: auto 0;
  padding: 0 2vw;
  width: 25rem;
  height: fit-content;
  z-index: 2;
}
.nav-logo a .logo {
  width: 100%;
  object-fit: cover;
}
.nav-links {
  padding: 0 2vw;
  height: 100%;
  width: fit-content;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav-links li {
  height: fit-content;
  list-style: none;
  padding: 0 0.5rem;
}
.nav-links-outer {
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.nav-links-outer ul {
  height: fit-content;
}
.nav-links-outer li {
  border-right: 2px solid var(--clr-dark-5);
}
.nav-links-outer li a:hover {
  color: var(--clr-primary-10);
}
.nav-links-outer li:nth-child(1) {
  border-left: 2px solid var(--clr-dark-5);
}
.nav-links-inner {
  display: flex;
  justify-content: space-around;
}
.nav-links-inner h3 {
  width: fit-content;
  padding: 0.25rem 0;
  border-bottom: 5px solid transparent;
}
.nav-links-inner h3:hover {
  cursor: pointer;
  border-bottom: 5px solid var(--clr-primary-6);
}
.nav-links-inner ul {
  display: none;
}

/*
===============================
header part
===============================
*/
header {
  height: 90vh;
}
header p {
  line-height: 2rem;
  font-size: 1rem;
}

/*
===============================
footer part
===============================
*/
footer {
  height: fit-content;
  background-color: var(--clr-primary-9);
}

body {
  background-color: var(--clr-primary-1);
}

/*# sourceMappingURL=index.css.map */
