@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');


:root {
    // primary color
    --clr-primary-1: #111111;
    --clr-primary-2: #111111;
    --clr-primary-3: #111111;
    --clr-primary-4: #111111;
    --clr-primary-5: #111111;
    --clr-primary-6: #111111;
    --clr-primary-7: #111111;
    --clr-primary-8: #111111;
    --clr-primary-9: #111111;
    --clr-primary-10: #111111;

    //secondary color
    --clr-secondary-1: #111111;
    --clr-secondary-2: #111111;
    --clr-secondary-3: #111111;
    --clr-secondary-4: #111111;
    --clr-secondary-5: #111111;
    --clr-secondary-6: #111111;
    --clr-secondary-7: #111111;
    --clr-secondary-8: #111111;
    --clr-secondary-9: #111111;
    --clr-secondary-10: #111111;

    // light background
    --clr-light-1: #ffffff;
    --clr-light-2: #ffffff;
    --clr-light-3: #ffffff;
    --clr-light-4: #ffffff;
    --clr-light-5: #ffffff;

    // dark background
    --clr-dark-1: #000000;
    --clr-dark-2: #000000;
    --clr-dark-3: #000000;
    --clr-dark-4: #000000;
    --clr-dark-5: #000000;

    // grey background
    --clr-grey-1: #555555;
    --clr-grey-2: #555555;
    --clr-grey-3: #555555;
    --clr-grey-4: #555555;
    --clr-grey-5: #555555;

    // font-family
    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

/*
===============================
header part
===============================
*/

header {}

/*
===============================
footer part
===============================
*/

footer {}