@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');


:root {
    // primary color
    --clr-primary-1: #ffe5d3;
    --clr-primary-2: #faccae;
    --clr-primary-3: #ffba8c;
    --clr-primary-4: #ffa76d;
    --clr-primary-5: #ff8f44;
    --clr-primary-6: #f58133;
    --clr-primary-7: #e47327;
    --clr-primary-8: #d6651a;
    --clr-primary-9: #ca5a10;
    --clr-primary-10: #bb4b00;

    //secondary color
    --clr-secondary-1: #111111;
    --clr-secondary-2: #111111;
    --clr-secondary-3: #111111;
    --clr-secondary-4: #111111;
    --clr-secondary-5: #111111;
    --clr-secondary-6: #111111;
    --clr-secondary-7: #111111;
    --clr-secondary-8: #111111;
    --clr-secondary-9: #111111;
    --clr-secondary-10: #111111;

    // light background
    --clr-light-1: #ffffff;
    --clr-light-2: #eeeeee;
    --clr-light-3: #dddddd;
    --clr-light-4: #cccccc;
    --clr-light-5: #bbbbbb;

    // dark background
    --clr-dark-1: #444444;
    --clr-dark-2: #333333;
    --clr-dark-3: #222222;
    --clr-dark-4: #111111;
    --clr-dark-5: #000000;

    // grey background
    --clr-grey-1: #999999;
    --clr-grey-2: #888888;
    --clr-grey-3: #777777;
    --clr-grey-4: #666666;
    --clr-grey-5: #555555;

    // font-family
    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: 'Open Sans', sans-serif;

    // box-shadow
    --shadow-1: 5px 5px 0 var(--clr-dark-3);

    // transition
    --transition-1: all 1.2s linear;
}

* {
    margin: 0;
    padding: 0;
}

a {
    display: block;
    text-decoration: none;
    color: var(--clr-dark-5);
}