/*
===============================
header part
===============================
*/

header {
    display: flex;
    justify-content: space-between;
}

/*
===============================
footer part
===============================
*/

footer {
    background-color: var(--clr-primary-9);
}